body {
    width: 100%;
    margin: 0px auto;
    text-align: center;
}    

div.section { height: 1700px; width: 100%; }
div.section img.full-bg {  }

div.section h1 { color: rgb(230, 43, 38);}
div.section h1.odd { color: #ffffff;}

div.photo-room {  }
div.photo-hand {  }