body {
    width: 100%;
    margin: 0px auto;
    text-align: center;
}    

div.section { height: 1700px; width: 100%; }
div.section img.full-bg {  }

div.photo-room {  }
div.photo-hand {  }


div.content { left:50%; margin-left:-364px; margin-top:-350px; padding:170px 0 50px; position:fixed; top:50%; }